*{
    font-family: "Arial Black", serif;
}
header{
    background: burlywood;
    text-align: center;
}
h1{
    margin: 0;
    padding: 4em 0;
}
main{
    max-width: 850px;
    background-color: cornflowerblue;
    margin: auto;
}